*  {
    box-sizing: border-box;
}  

body   {
    margin: 0;
}

header  {
    text-align: center;
}
h1  {
    text-shadow: blue 2px 2px;
    color: black;
}

h2  { 
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
th, td { 
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
 }


 button  {
    align-items: center;;
 }

nav {
    overflow: hidden;
    background-color: #333;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
}


nav li {
    flex: 1;
}

nav a {
    display: block;
    padding: 20px; 
    text-align: center;
    color: white; 
    text-decoration: none; 
}

.nav-left li{
    float: left;
}

.nav-right li{
    float:right;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    margin: 50px; 
}
  
.image {
    width: 500px ;
    height: auto; 
    align-content: center;
}
  

.wrapper  {
    margin: 0 auto 0 auto;
    width: 1000px;
  
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100px;
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    .topnav a{
        float: none;
        width: 100%;
    }
}

